# Dedicated to the public domain under CC0: https://creativecommons.org/publicdomain/zero/1.0/.

# Finder.
.DS_Store

# Python.
__pycache__/
*.egg-info/
.dmypy.json
dist/

# VSCode.
.vscode/tags

# Project.
_build/
_misc/
_repro.wu
docs/_muck
pyproject.toml
todo.txt
typeshed
