
/* DbViewApp. */

.dbview {
  font-size: small;
}

.dbview form {
  margin: 1em 0;
}

.dbview form #columns {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
}

.dbview form label.en-col {
  white-space: nowrap;
}

.dbview form label.en-col input {
  margin-right: 0.5em;
}

.dbview .detail {
  margin-bottom: 1em;
}

.dbview #results {
  width: 100%;
  overflow-x: scroll;
}

.dbview #results > table {
  table-layout: auto;
}

.dbview #results > table th {
  resize: horizontal;
  overflow: clip;
}

.dbview #results > table td {
  max-width: 95vw;
  overflow-wrap: break-word;
}

.dbview .error {
  color: #800;
}

.dbview .null {
  color: #888;
}

.dbview .empty {
  color: #8A8;
}

.dbview .unjoined {
  color: #840;
}
