/* Dedicated to the public domain under CC0: https://creativecommons.org/publicdomain/zero/1.0/. */

/* Reset. */

*, *::before, *::after { box-sizing: border-box; } /* Use the modern box-sizing model. */

* { margin: 0; } /* Remove all default margins. */

html, body { height: 100%; } /* Allow percentage-based heights in the application. See: https://www.joshwcomeau.com/css/custom-css-reset/#digit-percentage-based-heights. */

html:focus-within { scroll-behavior: smooth; }

body { min-height: 100vh; text-rendering: optimizeSpeed; line-height: 1.5; }

p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; } /* Avoid text overflows. */

img, picture, video, canvas, svg { display: block; max-width: 100%; } /* Improve media defaults. */

ul[role='list'], ol[role='list'] { list-style: none; } /* Remove list styles on ul, ol elements with a list role. */

a:not([class]) { text-decoration-skip-ink: auto; } /* A elements that don't have a class get default styles. */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them. */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Root vars. */
:root {
  --cw: 64rem; /* Content width. */
  --cp: 0.5rem; /* Content padding. */;
  --scrollbar-width: 0px; /* Updated by javascript. */
  --vw-sb: calc(100vw - var(--scrollbar-width));

  --clr-table-even: #FFF;
  --clr-table-odd: #EEE;
}


/* Page layout. */

* { position: relative; }

html { overflow-y: scroll; } /* Prevents centered layout from jittering between when scroll bar appears. */

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bfull {
  width: 100%;
  padding: 0 var(--cp);
}

.bfull-bleed-bg {
  width: 100%;
  padding: 0 max(var(--cp), calc(var(--cp) + 50vw - 0.5*var(--cw)));
}

.bpage {
  width: min(100%, var(--cw));
  padding: 0 var(--cp);
  align-self: center;
}

body > * { /* By default, all direct children of body are bpage. */
  width: min(100%, var(--cw));
  padding: 0 var(--cp);
  align-self: center;
}

.wc { width: var(--cw); }

.pc {
  padding-left:var(--cp);
  padding-right:var(--cp);
}


/* Utility classes. */

.w100 { width: 100%; }
.h100 { height: 100%; }
.w-isodate { width: 11ch; }
.w-isodatetime-m { width: 17ch; }
.w-isodatetime-s { width: 20ch; }

.bold { font-weight: bold; }

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.o50 { opacity: 0.5; }

.table-auto { table-layout: auto; }
.table-fixed { table-layout: fixed; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.text-start { text-align: start; }
.text-end { text-align: end; }

/* Forms. */

span.input-label { /* A span that wraps an input (e.g. radio or checkbox) and its label. */
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

span.input-label > input:first-child { /* The input. */
  margin-right: 0.5ch;
}

span.input-label > input:first-child:where([type='checkbox'], [type='radio']) {
  align-self: center;
}

/* Tables. */

table {
  table-layout: fixed;
  margin: 1rem 0;
  border-style: solid;
  border-width: 1px;
  border-color: #AAA;
  border-spacing: 1rem 0.5rem;
}

table caption {
  font-weight: bold;
  text-align: left;
  caption-side: top;
}

th, td {
  text-align: left;
  vertical-align: top;
}

table.dense {
  border-collapse: collapse;
}

table.dense :is(td, th) {
  border-color: #AAA;
  border-style: solid;
  border-width: 1px;
  padding: 0.25rem 0.5rem;
}

table.dense tbody tr:nth-child(even) {
  background-color: var(--clr-table-even);
}

table.dense tbody tr:nth-child(odd) {
  background-color: var(--clr-table-odd);
}


/* Grids. */

.kv-grid-min {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.5em;
}


.kv-grid-max {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5em;
}

/* HTMX interaction indicators. */

.block-emoji-icon {
  display: block;
  margin: 1rem 0;
  min-width: 1.5rem;
  text-align: center;
}

.inline-emoji-icon {
  display: inline-block;
  margin: 0 0.5rem;
  text-align: center;
}


/* Htmx emoji clock spinner. */

.with-spinner-after.htmx-request::after {
  /* The htmx-request class is added to the requesting element or specified hx-indicator element while the request is ongoing. */
  content: '🕐';

  animation-name: emoji-clock;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes emoji-clock {
  00.000% { content: '🕛'; }
  08.333% { content: '🕐'; }
  16.667% { content: '🕑'; }
  25.000% { content: '🕒'; }
  33.333% { content: '🕓'; }
  41.667% { content: '🕔'; }
  50.000% { content: '🕕'; }
  58.333% { content: '🕖'; }
  66.667% { content: '🕗'; }
  75.000% { content: '🕘'; }
  83.333% { content: '🕙'; }
  91.667% { content: '🕚'; }
  100.00% { content: '🕛'; }
}


/* SelectApp. */

#pithy_select_app form {
  margin: 1em 0;
}

#pithy_select_app #query {
  margin: 1em 0;
}

#pithy_select_app span.en-col {
  margin-right: 1em;
  white-space: nowrap;
}

#pithy_select_app span.en-col input {
  margin-right: 0.5em;
}

#pithy_select_app #results {
  width: 100%;
  overflow-x: scroll;
}

#pithy_select_app #results > table {
  table-layout: auto;
}

#pithy_select_app #results > table th {
  resize: horizontal;
  overflow: clip;
}

#pithy_select_app .null {
  color: #888;
}
