/* Dedicated to the public domain under CC0: https://creativecommons.org/publicdomain/zero/1.0/. */

/* Reset. */

*, *::before, *::after { box-sizing: border-box; } /* Use the modern box-sizing model. */

* { margin: 0; } /* Remove all default margins. */

html, body { height: 100%; } /* Allow percentage-based heights in the application. See: https://www.joshwcomeau.com/css/custom-css-reset/#digit-percentage-based-heights. */

html:focus-within { scroll-behavior: smooth; }

body { min-height: 100vh; text-rendering: optimizeSpeed; line-height: 1.5; }

p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; } /* Avoid text overflows. */

img, picture, video, canvas, svg { display: block; max-width: 100%; } /* Improve media defaults. */

ul[role='list'], ol[role='list'] { list-style: none; } /* Remove list styles on ul, ol elements with a list role. */

a:not([class]) { text-decoration-skip-ink: auto; } /* A elements that don't have a class get default styles. */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them. */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes. */

.w100 { width: 100%; }
.h100 { height: 100%; }

.bold { font-weight: bold; }

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.table-auto { table-layout: auto; }
.table-fixed { table-layout: fixed; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.text-start { text-align: start; }
.text-end { text-align: end; }


/* Htmx emoji clock spinner. */

.with-spinner-after.htmx-request::after {
  /* The htmx-request class is added to the requesting element or specified hx-indicator element while the request is ongoing. */
  content: '🕐';

  animation-name: emoji-clock;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes emoji-clock {
  00.000% { content: '🕛'; }
  08.333% { content: '🕐'; }
  16.667% { content: '🕑'; }
  25.000% { content: '🕒'; }
  33.333% { content: '🕓'; }
  41.667% { content: '🕔'; }
  50.000% { content: '🕕'; }
  58.333% { content: '🕖'; }
  66.667% { content: '🕗'; }
  75.000% { content: '🕘'; }
  83.333% { content: '🕙'; }
  91.667% { content: '🕚'; }
  100.00% { content: '🕛'; }
}
